<div class="container">
    <div class="columns">
        <div class="column is-3 ">
            <aside class="menu is-hidden-mobile">
                {{> navigation}}
            </aside>
        </div>
        <div class="column is-9">
            {{> toolbar}}
            <div class="box content">
            {{> article}}
            </div>
        </div>
    </div>
</div>