{{#if navigation.length}}
{{#each navigation}}
<p class="menu-label">
{{content}}
</p>
<ul class="menu-list">
    {{> navigation-tree navigation=./items level=(increment ../level)}}
</ul>
{{/each}}
{{/if}}
